body, html {
  min-height: 100%;
  color: #26252B;
}

body{

  font-family: 'Nanum Gothic', 'Open Sans', sans-serif;
  background-image: url('../images/body-background.jpg');
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
  font-family: 'Nanum Gothic';
  font-weight: bold;
}
.container-fluid{
  padding-bottom: 0;
}
.blue{
  color:#374459;
}
.content-col .row{
  margin-left: 0;
  margin-right: 0;
  padding-left: 2em;
}
.content-row{
  background-color: white;
}
.header-row {
  padding-top: 2em;
  padding-bottom: 1em;

}
.header-row h1{
  color: #26252B;
}
#skills .list-inline-item:not(:last-child) {
    margin-right: 1.5em;
}



#portfolio-image {
  border-radius: 50%;
  width:75%;
  margin:1.5em;
}
#about-me ul {
  margin-left: 0;
  margin-top: 2em;
}
.list-inline-item {
    text-align: center;
}
.portfolio-nav a{
  color: #CBCBCB;
  font-family: 'Nanum Gothic';
  font-size: 1.75em;
  font-weight: bold;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
color: #8F9EB7;
}

.aside{
  position:sticky;
  top: 0;
  color: #6479A0;
}
.aside-col {
  background-color: #26252B;
}
.navbar{
  background-color: #26252B;
  position:sticky;
  top:0;
  z-index: 5;
}
.navbar-brand{
  margin-right: 0;
}
.navbar-toggler-icon{
  color: #6479A0;
}
.navbar ul{
  width: 100%
}
.aside .navbar{
  margin-top: auto;
  margin-bottom: auto
}
.aside .nav-item{
  font-size: x-large;
}
.navbar-nav{
  width: 100%
}
.content-col {
  margin-left: 0px;
  font-family: 'Open Sans';
  padding-left: 0;
  padding-right: 0;
}

.content-col .card {

  margin-left:20;
  margin-right: 0;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: 10px;
  border: none;
}

.card-text{
  margin-top: 1.5em;
  margin-left: 1em;
  margin-bottom: 1em;
}
